<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Bookbad - html</title>
  <meta name="keywords" content="">
  <meta name="description" content="">

  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <div id="content-wrapper">
    <header class="header header--bg">
      <div class="container">
        <nav class="navbar">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span> 
            </button>
            <a class="navbar-brand" href="#"></a>
          </div>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav pull-right">
              <li><a href="#">Home</a></li>
              <li><a href="#">Reservations</a></li>
              <li><a href="#">Booking</a></li>
              <li><a href="#">Logout</a></li>
            </ul>
          </div>
        </nav>
        <div class="row">
          <div class="col-lg-6">
            <img class="img-responsive" src="views/images/bookbad.png" alt="">
          </div>
          <div class="col-lg-6 header__content">
            <h1 class="title"><span class="title-style"></span></h1>
            <p></p>
            <a class="header__button" href="#">Sign In</a>
            <a class="header__button" href="#">Register</a>
          </div>
        </div>
      </div>
    </header>
</body>
</html>